.place__title {
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
}

@media screen and (min-width: 1140px) {
  .place__title {
    max-width: 460px;
  }
}

@media screen and (max-width: 1111px) {
  .place__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 72px;
  }
}

@media screen and (max-width: 900px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 510px) {
  .place__title {
    font-size: 29px;
    line-height: 1;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    padding-left: 16px;
  }
}
