@import url('./__title/header__title.css');
@import url('./__logo/header__logo.css');
@import url('./__title/header__title_selected.css');

.header {
  max-width: calc(100% - 296px);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 46px 0 62px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: calc(100% - 96px);
    padding: 46px 0 54px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 48px);
    padding: 46px 0 54px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: calc(100% - 32px);
    padding: 30px 0 52px;
  }
}
