.cover__title {
  text-align: center;
  font-size: 72px;
  line-height: 76px;
  padding-bottom: 32px;
  margin: 0;
  font-weight: 900;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.06;
  }
}

@media screen and (max-width: 640px) {
  .cover__title {
    font-size: 50px;
    line-height: 1.06;
  }
}

@media screen and (max-width: 435px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 16px;
  }
}
