.header__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  align-self: flex-end;
  text-rendering: optimizeLegibility;
}

.header__title:nth-child(2) {
  padding-right: 16px;
}

@media screen and (max-width: 425px) {
  .header__title {
    font-size: 18px;
    line-height: 24px;
  }
}
