.header__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.17;
  align-self: flex-end;
  font-style: normal;
  font-weight: 400;
}

.header__title:nth-child(2) {
  padding-right: 16px;
}

@media screen and (max-width: 425px) {
  .header__title {
    font-size: 18px;
    line-height: 1.33;
  }
}
